{
  "presets": [
    "react-app",
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "add-module-exports",
    [
      "module-resolver", {
        "alias": {
          "components":  "./src/components",
          "assets": "./src/assets",
        },
      },
    ],
    [
      "import", {
        "libraryName": "antd",
        "style": "css",
      },
    ],
  ],
}
